{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create VPN site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/styles.css' %}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'user_info' %}">User info</a></li>
            <li><a href="{% url 'stats' %}">VPN stats</a></li>
            <li><a href="{% url 'add_site' %}">Add VPN site</a></li>
        </ul>
    </div>
    <div class="content">
        <h2>Add VPN site</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add site</button>
        </form>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{ site.url }}</td>
                        <td>{{ site.title }}</td>
                        <td>
                            <a href="{% url 'dynamic_proxy_view' site.title site.proxy_url %}" class="btn">Go</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">You don't have any websites yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>